<div class="d-flex flex-column mr-20 align-items-center">
	<a href="{{ path( from ~ '_rating', { id: id, score: 1 }) }}">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="arrow-icons {{ rating > 0 ? ' rating-up' : '' }}">
			<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
		</svg>
	</a>
	<p class="text-small {{ rating > 0 ? 'rating-up' : rating < 0 ? 'rating-down' : ''}}">
		{{ rating }}
	</p>
	<a href="{{ path( from ~ '_rating', { id: id, score: -1 }) }}">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="arrow-icons {{ rating < 0 ? ' rating-down' : '' }}">
			<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
		</svg>
	</a>
</div>
